RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php

#через .htaccess мы говорим что бы он любой запрос перенапрявлял на входнйо скрипт undex.php в папке web